html {
  scroll-behavior: smooth;
}
body{
    background-image: url(../../resources/images/back.jpg);
    font-family: Montserrat;
	padding-top: 80px;
}
iframe{
    width: 450px;
    height: 450px;
}
.navbar{
    background-image: url(../../resources/images/back.jpg);
}
.divider{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.margin-bottom{
    margin-bottom: 1rem;
}
.margin-top{
    margin-top: 1rem;
}
.blankspace{
    margin: 1rem;
}
.blankspace2{
    margin: 2rem;
}
.p{
    text-align: left;
    font-size: medium;
    margin-left: 20%;
    margin-right: 20%;
}
.p2{
    text-align: center;
    font-size: medium;
}
.ul{
    text-align: left;
    font-size: medium;
    margin-left: 20%;
    margin-right: 20%;
}
.subtitle{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: medium;
    margin-left: 20%;
    margin-right: 20%;
}
.bold{
    font-weight: 600;
}
.carousel-content-fit{
    width: 100%;
    height: 550px; 
    object-fit: cover; 
    object-position: center;
}
.carousel-content-fit3{
    width: 906px;
    height: 530px; 
    object-fit: cover; 
    object-position: center;
    
}
.center{
    display: flex;
    justify-content: center;
}
.center2{
    position: relative;
    top: 40%;
}
.localizacao{
    width: 450px;
    height: 450px;
}
.acomodacoes{
    display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.table{
    margin: 10px;
	background-color: #fafafa;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    transition: 300ms;
}
.table:hover{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 300ms;
}
.contato{
    width: 50%;
}
.footer{
	display: flex;
    justify-content: space-around;
    border-top: 1px solid #E7E7E7;
	align-items: center;
	padding: 1rem;
}
.footer a{
	color: black;
	font-size: 24px;
	padding: 0.30rem;
}
.overlay{
    z-index: 2;
    position: fixed; 
    bottom: 25px; 
    right: 25px;
}
.overlay img{
    height: 64px;
}
.margin-footer{
    margin-bottom: 0px;
}
@media only screen and (max-width: 991px){
    .carousel-content-fit{
        width: 100%;
        height: 480px; 
        object-fit: cover; 
        object-position: center;
    }
    .p{
        text-align: left;
        font-size: medium;
        margin-left: 15%;
        margin-right: 15%;
    }
    .p2{
        text-align: center;
        font-size: medium;
    }
    .ul{
        text-align: left;
        font-size: medium;
        margin-left: 15%;
        margin-right: 15%;
    }
    .subtitle{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: medium;
        margin-left: 15%;
        margin-right: 15%;
    }
    .contato{
        width: 60%;
    }
}
@media only screen and (max-width: 767px){
    .carousel-content-fit{
        width: 100%;
        height: 400px; 
        object-fit: cover; 
        object-position: center;
    }
    .p{
        text-align: left;
        font-size: medium;
        margin-left: 10%;
        margin-right: 10%;
    }
    .p2{
        text-align: center;
        font-size: medium;
    }
    .ul{
        text-align: left;
        font-size: medium;
        margin-left: 10%;
        margin-right: 10%;
    }
    .subtitle{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: medium;
        margin-left: 10%;
        margin-right: 10%;
    }
    .center{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contato{
        width: 70%;
    }
    .margin-footer{
        margin-bottom: 100px;
    }
}
@media only screen and (max-width: 736px){
    .center2{
        position: relative;
        top: 16px;
    }
}
@media only screen and (max-width: 716px){
    .center2{
        position: relative;
        top: 16px;
    }
    .blankspace{
        margin: 0;
    }
    .contato{
        width: 75%;
    }
}
@media only screen and (max-width: 450px){
    iframe{
        width: 100%;
        height: 400px;
    }
}
@media only screen and (max-width: 414px){
    .ul{
        text-align: left;
        font-size: medium;
        margin-left: 5%;
        margin-right: 5%;
    }
    .contato{
        width: 80%;
    }
}
@media only screen and (max-width: 290px){
    .localizacao{
        width: 290px;
        height: auto;
    }
}